{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="content-section card">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group m-4">
                        <legend class="border-bottom mb-3 text-center">Авторизация пользователя</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group m-4">
                        <button class="btn btn-outline-info" type="submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock content %}
